<%- 
  include("master", {
    title: title,
    body: `
      <h1>Selamat Datang di Websita Pariwisata Palembang</h1>
      <p>Ini adalah halaman website resmi Pariwisata Palembang.</p>
    `
  })
%>